*{
    margin:0px;
    padding:0px;
}
@media all and (max-width:992px){
    .mylink{
        border-bottom: #e0e0d3 solid 0.13rem;
    }
    
}
@media all and (min-width:993px){
    .mylink{
        border-right: #e0e0d3 solid 0.13rem;
    }
    
}
.platypi-regular {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.abel-600 {
font-family: "Abel", sans-serif;
font-weight: 600;
font-style: normal;
}
.abel-500 {
    font-family: "Abel", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.my-nav{
    background-color: #EEEEEE;
}
.brand-logo{
    padding: 1rem;
    color:#313435;
}
.mylink{
    color:#222831;
    font-size: larger;
    padding-top:0.5rem;
    padding-bottom:0.4rem;
    /* border-right: #F3E96B solid 0.13rem; */
}
.mylink:hover{
    color:#747264;
}
.aboutContentDiv{
    padding:10px 20px;
}
.pTag{
    font-size: 1.4rem;
}
.pSmall{
    font-size: 1.3rem;
}